@import 'mixins/prefix';

.center-ver{
  padding-top: 12%;
}
.center-hor{
  text-align: center;
}

.unselectable{
  @include prefix((user-select: none), webkit ms moz o);
}

html{
  font-family: Inconsolata, sans-serif;
  font-size: 50px;
  background-color: #1e1c31;
}
body{
  color: #c991e1;
}

#welcome{
  color: #63e9cd;
}

#time{
  font-size: 110px;
}
